
 <div class="container"> 
    <div class="row">
       <div class="col-md-offset-3 col-md-6 how"><h1> How it works ? </h1>
       <ul><h3>Choose the desired stores,</h3><br><h4><li> Upload the material list you require</li></h4>
       <img src="1.png" class="img-responsive">
       <h3>View Stores &amp; compare Quotes</h3><br><h4><li>Select your location, view best stores within 
        your locality, suits your needs and are ready to serve you</li></h4>
       <img src="2h.png" class="img-responsive">
       
      <h3> Hire the best</h3><br><h4><li> Select the store serving the best possible offers and quotes</li></h4>
       <img src="3h.png" class="img-responsive">
      </ul>     
       </div>       
    </div>
 </div>

