 <div class="container"> 
    <div class="row"><br><br>
       <div class="col-md-offset-4 col-md-4 how"><h1>How it works ?</h1><img src="star.png" class="img-responsive" style="margin-bottom: 40px;margin-top:5px;">
       <h3><b>Choose the desired stores</b></h3><br><h5>Upload the material list you require</h5>
       <img src="1h.png" class="img-responsive" >
       <h3><b>View Stores &amp; compare Quotes</b></h3><br><h5>Select your location, view best stores, which<h5> suit your needs &amp; are ready to serve you</h5></h5>
       <img src="2h.png" class="img-responsive">
       
      <h3> <b>Hire the best</b></h3><br><h5>Select the store serving the<h5> best possible offers and quotes</h5></h5>
       <img src="3h.png" class="img-responsive">
       
       </div>
       
    </div>
 </div>



