
<div class="container"> 
<div class="row">
<div class="col-md-12" id="uj">
  UncleJoy
  <h2>India's first local material store</h2>
</div>
 </div>
<div class="form-group  col-lg-2"></div>

<form>
<div class="form-group  col-lg-4">
            <label for="element-4" class="sr-only">Enter your email Id</label>
            <input type="email" id="element-4" class="form-control input-lg" placeholder="Enter your email Id" required=""></input>
</div>
</form>
<div class="col-lg-4" style="text-align: center; "><button id="gl"  class="btn btn-lg btn-block btn-default"><b> Get App Link</b></button></div>
<div class="form-group  col-lg-2"></div>
<br>
<div class="row">
<div class="col-md-12">
<center><h3> Our listed Store Partners</h3>
<h3>Come Join Us ! </h3>
</center>
</div>
</div>
<div class="row ">
  <div class="col-md-3">
      <div class="col-md-12">  
       <img src="hitw.png" alt="store" ><p>Store Name</p> <p> Address</p></div>
       <div class="col-md-12"> 
       <img src="hitw.png" alt="store"><p>Store Name</p><p> Address </p>
       </div> 
  </div>
  <div class="col-md-3">
      <div class="col-md-12">  
       <img src="hitw.png" alt="store" ><p>Store Name</p> <p> Address</p></div>
       <div class="col-md-12"> 
       <img src="hitw.png" alt="store"><p>Store Name</p><p> Address </p>
       </div>  
  </div>
  <div class="col-md-3">
     <div class="col-md-12">  
       <img src="hitw.png" alt="store" ><p>Store Name</p> <p> Address</p></div>
       <div class="col-md-12"> 
       <img src="hitw.png" alt="store"><p>Store Name</p><p> Address </p>
       </div> 
  </div>
  <div class="col-md-3">
     <div class="col-md-12">  
       <img src="hitw.png" alt="store" ><p>Store Name</p> <p> Address</p></div>
       <div class="col-md-12"> 
       <img src="hitw.png" alt="store"><p>Store Name</p><p> Address </p>
       </div>   </div>
  <div class="col-md-offset-4 col-md-4">
    <button class="btn btn-block btn-warning" id="view"> View all</button>
  </div>
</div>
</div><br><br><br>
</div><center><h2> Why Unclejoy?</h2></center>
<div id="whystore" class="row">

<div class="col-md-3"></div>
  <div class="col-md-2">
  <div class="row">

  <div class="col-md-12">

  <img src="1s.png">   </div>
  <div class="col-md-12">

  Find new customers  </div>
  </div></div>
  <div class="col-md-2"><div class="row">
  <div class="col-md-12">

  <img src="2s.png">   </div>
  <div class="col-md-12">

  Showcase your store </div>
  </div></div>
  <div class="col-md-2"><div class="row">
  <div class="col-md-12">

  <img src="3s.png">   </div>
  <div class="col-md-12">

  Increase your income </div>
  </div></div>
  <div class="col-md-3"></div>
  


</div>
    








