



<div class="container">
<div class="row">
          
           <div class="col-sm-offset-1 col-sm-10  col-xs-12"  >
                  <p style="padding: 70px;"></p>
                  <h2 style="vertical-align: middle;text-align:center;">Congratulations! Your password has been changed successfully!</h2><br>
                  <p style="font-size:18px;text-align:center;"> You can now login either through website or mobile app .</p>
                  <p style="padding:60px;"></p>
              
           </div>

      </div>
</div>


