

<h1>Welcome to Unclejoy</h1>

<p><strong>Listing Users added recently</strong></p>
        <ul><% @users.each do |user| %>
           <li> <%= user.name %> </li>
          <% end %>
        </ul>

         <p><strong>Listing Stores added recently</strong></p>
        <ul><% @stores.each do |store| %>
           <li> <%= store.name %> </li>
           <% end %>
        </ul>
      
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        

        <td><%= link_to 'All Users ', users_path %></td>
        <td><%= link_to 'All Stores', stores_path%></td>
       
      </tr>
    
  </tbody>
</table>

<br>

<!--%= link_to 'New Welcome', new_welcome_path %-->
