<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @store.name %>!</h1>
    <p><%= "#{@user.name },just created a new lead #{time_ago_in_words(@booking.created_at)} ago for stores like you to respond to!  "%></p>
  </body>
</html>