

<div class="container mar" style="background-color:white;padding: 8%;margin: 3% 7%; border:1px solid #c9c9c9;">
   
  <%= image_tag "https://ujapi.herokuapp.com/logo.png" %>

  	<h2 >Hello <%= @resource.email %>!</h2><br><br>

	<p style="font-size:16px;">We're contacting you to notify you that your password has been changed.</p><br><br>

<b>Cheers!<br>
    Team Unclejoy<br><br></b>

  PS: Hiring a local material store is much more easier with our latest mobile app.<br><br>
    Download Unclejoy Android Mobile App now. :)<br>

    <%= image_tag "https://ujapi.herokuapp.com/googleplay.png", style: 'width: 140px;'%>
  

 </div>





  
  

