



<div class="container mar" style="background-color:white;padding: 8%;margin: 3% 7%; border:1px solid #c9c9c9;">
   
  <%= image_tag "https://ujapi.herokuapp.com/logo.png" %>
  
  <h1>Welcome <strike>Back</strike></h1>
  <p style="font-size:16px;">
    <br>Hello <%= @resource.email %>!<br><br>
    So You forgot your password. Don't worry, happens to most of us.<br>
    Someone has requested a link to change your password. You can do this through the link below.<br><br><br><br>


    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) , style: 'background-color:#ff6600;padding:2.5% 3.5% 2.5% 3.5%;text-decoration:none;border:none;color:#fff;border-radius:25px;'%> <br><br>
    If you didn't request this, please ignore.<br><br><br><br><br></p>
  <b>Cheers!<br>
    Team Unclejoy<br><br></b>

  PS: Hiring a local material store is much more easier with our latest mobile app.<br><br>
    Download Unclejoy Android Mobile App now. :)<br>

    <%= image_tag "https://ujapi.herokuapp.com/googleplay.png", style: 'width: 130px;'%>
  
</div>
   

